.App {
  text-align: center;
  user-select: none;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.player-data {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 24%;
}

body {
  background: cadetblue;
  height: 100%;
}

h3 {
  display: inline;
}

.hidden {
  display: none;
}

.shown {
  display: contents;
}

.button-holder {
  display: flex;
  height: 10%;
  justify-content: space-evenly;
}

button {
  height: 100%;
  width:50rem;
  font-size: 5rem;
  text-align: center;
  border: 2px solid rgb(68, 112, 114);
  box-shadow: 5px 8px 25px rgb(54, 86, 87);
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

.summoner-input {
  width: 40rem;
  height: 5rem;
  font-size: 2.5rem;
  text-align: center;
}

::placeholder {
  text-align: center;
}

.date {
  background: lightgrey;
  padding: 10px;
  max-width: 33rem;
  margin: 15px auto;
  border: 2px solid rgb(68, 112, 114);
  box-shadow: 5px 8px 25px rgb(54, 86, 87);
}

#always-show {
  display: contents;
}